<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @ticket.status %>
</p>

<p>
  <b>Funrider:</b>
  <%= @ticket.funrider %>
</p>

<p>
  <b>Pilot:</b>
  <%= @ticket.pilot %>
</p>

<p>
  <b>About:</b>
  <%= @ticket.about %>
</p>

<p>
  <b>Roll1:</b>
  <%= @ticket.roll1 %>
</p>

<p>
  <b>Roll2:</b>
  <%= @ticket.roll2 %>
</p>

<p>
  <b>Roll3:</b>
  <%= @ticket.roll3 %>
</p>

<p>
  <b>Description:</b>
  <%= @ticket.description %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
